

table{
    color: black;
}
div>p{
    color: blue;
}
div p{
    color: aqua;
}
div{
    color: green;
}
a:visited{
    color:crimson;
}
a:link{
    color: black;
}
*{
    margin: 0%;
    padding: 0;

}
#label{
    color:antiquewhite ;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 678;
    text-decoration:underline;
    text-decoration-color: rgb(255, 102, 0);
    text-transform: uppercase;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif}
    #Krishna{
        border: 100vh;
        width: 100vw;
        font-size: 23px;
        background-color: aquamarine;
        margin: auto;
        
        box-shadow: 8px 12px 18px;
        display: inline-block;
        
    }
    .red{
        font-size: 2rem;
        text-shadow: 8px 12px 18px;
     border: 10px solid orange;
     margin: 32px;
    }
    .hot{
        border: 2px solid rgb(0, 0, 0);
       display: inline-block;
        margin: 32px ;
        border: 234px;
        color: blueviolet;
        background-color: tomato;
         font-weight: 8000;
         font-family: 'Times New Roman', Times, serif;
          
    }
    nav ul li{
        list-style:none inside;
        background-color: rgba(216, 216, 15, 0.477);
        display:inline ;
    
    
    }