ul{
    background-color: black;
    color: red;
}
table{
    color: black;
}
div>p{
    color: blue;
}
div p{
    color: aqua;
}
div{
    color: green;
}
a:visited{
    color:crimson;
}
a:link{
    color: black;
}
*{
    margin: 0%;
    padding: 0;

}
#label{
    color:antiquewhite ;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 678;
    text-decoration:underline;
    text-decoration-color: rgb(255, 102, 0);
    text-transform: uppercase;
}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}