:root{
    --main-color:red;
    --sec-color:white;
    --defborder:2vh;
    --defpad:5px;
    --defmar:6px;
;}
*{
    margin: 0%;
    padding: 0%;
}
 html{
    background-color: var(--sec-color);
}
h1{
    border: white;
    border-radius: 5px;
    --main-color:aqua;
    color: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    text-transform: uppercase;
font-weight: 600;
text-align: center;
margin-bottom: 25px;
text-shadow: 3px 3px 5px black;
    
}
/*nav ul li{
    display: flex;
    margin: var(--defmar);
    
    border: 3px solid black;
    width: 5vw;
    height: 3vh;
    list-style: none inside;

    color :rgb(77, 21, 73);
    text-transform: uppercase;
    
    justify-content: center;
    align-items: end;
    
    flex-direction: row;
    */ 
    .header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border: 2px white;
        height: 15vh;
        width: 100vw;
        margin: 2px;
        padding: 3px;
        gap: 5px;
        flex-wrap: wrap;
        

    }
    .box {
        width: 80px;
        height: 30px;
        background-color:white;
        border: 2px white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight:bold;
        padding-top: 2px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        list-style: none;
        transform: translateY(-100%) skewX(6deg) ;
    }

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    margin-top: 20px;

}img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 34px;
  box-shadow: 10px 10px 5px rgba(47, 49, 47, 0.829);
  border: 14px solid rgba(62, 59, 65, 0.567);
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 4px solid blueviolet;
}
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
@media  screen and (max-width:455px) {
    body{
        background-color:blueviolet;

    }

}
    .box img{
        vertical-align: middle;
        margin-left: 6px;
    }
    .download{
        display:grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 35px 35px;
        border: 3px solid black;
        height: 78vh;
        width: 80vw;
        gap: 6px;
    }
    .lang{
        border: 2px wheat;
        grid-row: 1/2;
        grid-column: 1/2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: medium;
        font-weight: 700;
        gap: 10px;
        width: 100px;
      
        text-align: center;
    }
  
    
    
    


  
    